<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h3>Home</h3>
<form th:action="@{/inf/save}" th:object="${inf}"
      method="POST" novalidate="novalidate">
    <div>
        <label>Language</label>
        <input type="text" th:field="*{language}"/>
    </div>
    <div>
        <label>Page Size</label>
        <input type="text" th:field="*{size}"/>
    </div>
    <div>
        <label>Spams fillter</label>
        <input type="email" th:field="*{fillter}"/>
    </div>
    <div>
        <label>Signature</label>
        <input type="text" th:field="*{signature}"/>
    </div>
    <input type="submit" value="Update"></input>
</form>
</body>
</html>